.container

    .header#tema-1.-recuadro.mt-5.mb-0
        h1 #[span.title.px-2.py-2 Glosario]

    .jumbotron.bg-white
        p
            strong.mr-2 Acelerómetro:
            | Cualquier instrumento destinado a medir aceleraciones.
        hr
        p
            strong.mr-2 Actuadores:
            | Transductor, que transforma señales eléctricas en movimientos mecánicos.
        hr
        p
            strong.mr-2 Algoritmo:
            | Conjunto definido de reglas o procesos que llevan a la solución de un problema en un número determinado de pasos.
        hr
        p
            strong.mr-2 Análogo(a):
            | Se refiere a las magnitudes o valores que varían continuamente en el tiempo, tales como distancia, temperatura y velocidad. Estas magnitudes pueden variar de forma muy lenta o rápida, como en un sistema de audio.
        hr
        p
            strong.mr-2 Analógica:
            | Tipo de señal eléctrica no digital. Las señales análogas o analógicas tienen un número infinito de valores entre los límites altos y bajos de una señal portadora. Por ejemplo, las señales enviadas a través de una línea telefónica por módems son análogas porque representan tonos de audio.
        hr
        p
            strong.mr-2 Androide:
            | Tipo de robot que se parece y actúa como seres humanos. Actualmente los androides reales solo existen en la imaginación y en las películas de ciencia ficción.
        hr
        p
            strong.mr-2 API:
            | Interfaz de Programación de Aplicaciones: Son una biblioteca con clases y métodos para realizar programación orientada a objeto.
        hr
        p
            strong.mr-2 Animación:
            | Creación, mediante computador, de imágenes en movimiento para su visualización en la pantalla.
        hr
        p
            strong.mr-2 Autómata:
            | Aparato que contiene los mecanismos necesarios para ejecutar ciertos movimientos o tareas similares a las que realiza una persona.
        hr
        p
            strong.mr-2 Automática:
            | Ciencia que trata de la eventual sustitución, en la operación de un proceso, del operador humano por un dispositivo, por lo general, electromecánico.
        hr
        p
            strong.mr-2 Automatización:
            | Se le denomina así a cualquier tarea realizada por máquinas en lugar de personas. Es la sustitución de procedimientos manuales por sistemas de cómputo.
        hr
        p
            strong.mr-2 Arduino:
            | Es una plataforma de hardware libre, basada en una placa con un microcontrolador y un entorno de desarrollo, diseñada para facilitar el uso de la electrónica en proyectos multidisciplinares.
        hr
        p
            strong.mr-2 Asimov, Isaac:
            | Escritor y científico norteamericano de origen ruso, importante autor de ciencia ficción. Utilizó la palabra Robótica en su obra Runaround y se volvió conocido internacionalmente por sus referencias a los robots y a sus implicancias en el mundo del futuro. Autor de las famosas leyes de la robótica.
        hr
        p
            strong.mr-2 Bobina:
            | Por su forma característica (espirales de alambre enrollados) almacena energía en forma de campo magnético. Todo cable por el que circula una corriente tiene a su alrededor un campo magnético generado por la mencionada corriente.
        hr
        p
            strong.mr-2 Brazo antropomórfico:
            | Brazo mecánico con características humanoides.
        hr
        p
            strong.mr-2 Brazo robótico:
            | Una de las partes componentes del manipulador. Incorporado en la base de éste, sostiene y maneja la muñeca (donde va instalado el dispositivo de agarre).
        hr
        p
            strong.mr-2 Capek, Karel:
            | Dramaturgo checo, quien mencionó por primera vez en la palabra "Robot" en 1917 en un cuento denominado Opilec. Posteriormente se popularizó el concepto en otra de sus obras: Rossum's Universal Robots, de 1921. Robot deriva de "robotnik", con la cual definía al "esclavo de trabajo", y con ella se designaba a un artefacto mecánico con aspecto humano, capaz de desarrollar tareas que sólo los hombres eran capaces de efectuar.
        hr
        p
            strong.mr-2 Cibernética:
            | El estudio y la práctica del modelado de procesos cognitivos aplicados a máquinas.
        hr
        p
            strong.mr-2 Cinemática:
            | Término utilizado en robótica para referirse a las acciones llevadas a cabo por un manipulador y que supone la unión física entre los mandos accionados por el operador y el elemento que efectúa la acción.
        hr
        p
            strong.mr-2 Circuito:
            | Conjunto de conductores que son recorridos por una corriente eléctrica, y en el cual se encuentran intercalados, aparatos productores o consumidores de esta corriente.
        hr
        p
            strong.mr-2 Circuito integrado:
            | Chip en el que se encuentran todos o casi todos los componentes electrónicos necesarios para realizar alguna función. Entre estos componentes se tienen: transistores, resistencias, diodos, condensadores, etc.
        hr
        p
            strong.mr-2 Condensador:
            | Dispositivo eléctrico que permite acumular cargas eléctricas.
        hr
        p
            strong.mr-2 Controlador:
            | Es la parte del software que controla un periférico particular.
        hr
        p
            strong.mr-2 Control analógico:
            | Mecanismo de control, generalmente automático, en el que la información de control es dada en forma de valores (variables de un modo continuo) de ciertas cantidades físicas (analógicas).
        hr
        p
            strong.mr-2 Corriente alterna:
            | Tipo de corriente eléctrica, en la que la dirección del flujo de electrones va y viene a intervalos regulares o ciclos.
        hr
        p
            strong.mr-2 Corriente continua:
            | Tipo de corriente eléctrica que fluye de forma constante en una dirección. La corriente que fluye en una linterna o en cualquier otro aparato con baterías es corriente continua.
        hr
        p
            strong.mr-2 Control remoto:
            | Manipulador de: Aquél en que cada grado de libertad está actuado por un dispositivo independiente, con lo que puede no estar unido cinemáticamente al actuador del operador.
        hr
        p
            strong.mr-2 Diodo:
            | Dispositivo de dos terminales que se comporta como un interruptor común con la condición especial de que solo puede conducir la corriente eléctrica en una sola dirección.
        hr
        p
            strong.mr-2 Dispositivo:
            | Mecanismo de un aparato o equipo que, una vez accionado, desarrolla de forma automática la función que tiene asignada.
        hr
        p
            strong.mr-2 Fuente de Alimentación:
            | Unidad que suministra energía eléctrica a otro componente de una máquina.
        hr
        p
            strong.mr-2 Giro:
            | Movimiento básico de un manipulador
        hr
        p
            strong.mr-2 GPS (Global Postioning System):
            | Sistema que permite determinar en todo el mundo la posición de un objeto (una persona, un vehículo) con una precisión de hasta centímetros. El sistema fue desarrollado, instalado y empleado por el Departamento de Defensa de los Estados Unidos. Para determinar las posiciones en el globo, el sistema GPS está constituido por 24 satélites.
        hr
        p
            strong.mr-2 IDE:
            | Entorno de Desarrollo Integrado, es un programa informático compuesto por un conjunto de herramientas integradas que facilitan la programación.
        hr
        p
            strong.mr-2 Infrarrojo, sensor:
            | Sensor digital puede detectar la luz infrarroja reflejada por objetos macizos.
        hr
        p
            strong.mr-2 Informática:
            | Conjunto de técnicas y conocimientos científicos que permiten el tratamiento automático de la información mediante la utilización de computadores.
        hr
        p
            strong.mr-2 Inteligencia Artificial:
            | Término que, en su sentido más amplio, indicaría la capacidad de un artefacto de realizar los mismos tipos de funciones que caracterizan al pensamiento humano.
        hr
        p
            strong.mr-2 Interfaz:
            | Conexión física y funcional entre dos aparatos o sistemas que utilizan diferentes lenguajes de comunicación.
        hr
        p
            strong.mr-2 Interruptor:
            | Su función es cortar o no, el paso de la corriente eléctrica: por medio de distintos tipos de mecanismos, juntan y separan cables. La llave de la luz y el pulsador de un timbre son ejemplos de interruptores.

        hr
        p
            strong.mr-2 Lenguaje de computación:
            | Programa mediante el cual se puede especificar una serie de instrucciones para que el computador efectúe una tarea específica y autónoma. En otras palabras, es un "programa para hacer programas".
        hr
        p
            strong.mr-2 Manipulador:
            | En general, cualquier dispositivo mecánico capaz de reproducir los movimientos humanos para la manipulación de objetos. En particular, suele referirse a los elementos mecánicos de un robot que producen su adecuado posicionamiento y operación.

        hr
        p
            strong.mr-2 Microcontrolador:
            | Un microcontrolador es un circuito integrado programable que contiene todos los componentes de un computador, se emplea para realizar una tarea determinada para la cual ha sido programado. Dispone de procesador, memoria para el programa y los datos, líneas de entrada y salida de datos y suele estar asociado a múltiples recursos auxiliares. Puede controlar cualquier cosa y suele estar incluido en el mismo dispositivo que controla.

        hr
        p
            strong.mr-2 Motor:
            | Máquina destinada a producir movimiento a expensas de otra fuente de energía.

        hr
        p
            strong.mr-2 Raspberry Pi:
            | Es un ordenador de placa reducida o (placa única) (SBC) de bajo coste desarrollado en Reino Unido por la Fundación Raspberry Pi, con el objetivo de estimular la enseñanza de ciencias de la computación en las escuelas.

        hr
        p
            strong.mr-2 Resistencia:
            | Es la oposición que ofrece un material al paso de los electrones (la corriente eléctrica). Cuando el material tiene muchos electrones libres, como es el caso de los metales, permite el paso de los electrones con facilidad y se le llama conductor.

        hr
        p
            strong.mr-2 Robótica:
            | La robótica es la rama de la ciencia que se ocupa del estudio, desarrollo y aplicaciones de los robots.
        hr
        p
            strong.mr-2 Semiconductores:
            | Materiales no conductores que mediante la adición de ciertas impurezas, conducen la corriente bajo ciertas condiciones. No es directamente un conductor de corriente, pero tampoco es un aislante.
        hr
        p
            strong.mr-2 Sensor:
            | Dispositivo que detecta una determinada acción externa, tal como temperatura, presión, etc., y la transmite adecuadamente. 
        hr
        p
            strong.mr-2 Sistema:
            | Conjunto organizado de elementos diferenciados cuya interrelación e interacción supone una función global.
        hr
        p
            strong.mr-2 Transistor:
            | Contracción de las palabras inglesas transfer resistor. Es decir, de resistencia de transferencia. Es un dispositivo electrónico semiconductor que se utiliza como amplificador o conmutador electrónico y es un componente clave en toda la electrónica moderna, donde es ampliamente utilizado.
