.container#page-tema-3

    .header#tema-3.-recuadro.mt-5.mb-0
        h1 #[span.number.px-2.py-2 3.0] #[span.title.px-2.py-2 Disciplinas Asociadas a la Robótica]

    .jumbotron.bg-white 
        .row

            .header#tema-1_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 3.1] #[span.title.px-2.py-2 La informática]

        .row
            .col-12.col-lg-8
                p La informática, también llamada computación en América,  es una ciencia que estudia métodos, procesos, técnicas, con el fin de almacenar, procesar y transmitir información y datos  en formato digital. La informática se ha desarrollado rápidamente a partir de la segunda mitad del siglo XX, con la aparición de tecnologías tales como el circuito integrado, Internet y el teléfono móvil.

                p Antes de entrar en materia, es importante que tengas en cuenta la importancia de conocer sobre la informática y la programación.  Los lenguajes de programación se podrían tomar como idiomas de las máquinas, y al igual que los idiomas es necesario aprender su estructura.

                p La estructura suele ser la misma en todos los lenguajes de programación, por lo que en ocasiones se podrían usar palabras como dando instrucciones a alguna persona y así identificar la lógica del conjunto de instrucciones que se desea dar a la máquina.

            
            .col-12.col-lg-4
                img(src="assets/images/pages/tema-3/imagen1.png", alt="").img-fluid

        .row.mt-5
            p La lógica es la base de todo el conocimiento en programación, ya que es posible aprender a escribir un código para que la computadora interprete correctamente. Es decir que aprendes a comunicarte con la máquina a partir de un lenguaje.


            p #[strong •	¿Qué es exactamente la lógica de programación?]

            p Lógica es la técnica utilizada para desarrollar instrucciones en una secuencia para lograr determinado objetivo. Es la organización y planificación de instrucciones en un algoritmo, con el objetivo de tornar visible la implementación de un programa o software.

            p La lógica de la programación es la organización coherente de las instrucciones del programa para que su objetivo sea alcanzado.

        .row.mt-5
            .col-12.col-lg-8
                p #[strong •	Desafío del programador:]

                p El gran desafío del programador es entonces montar la estructura del programa para que este sea ejecutado por la computadora. Por eso organizar la información de forma clara y en el orden adecuado es primordial para que la acción sea ejecutada correctamente.

                p #[strong •	¿Qué es un algoritmo en lógica de programación?]

                p El algoritmo es la propia secuencia de instrucciones para la ejecución de una tarea. De una forma más simple, el algoritmo es una receta o ruta que indica todos los procedimientos necesarios para realizar algo o resolver un problema.

            .col-12.col-lg-4

                img(src="assets/images/pages/tema-3/imagen2.png", alt="").img-fluid

        .row.mt-5 

            pLa información en un algoritmo no puede ser redundante o subjetiva. Tiene que ser clara y detallada para que la computadora interprete correctamente. Ejemplificando mejor vamos a hacer un algoritmo para freír papas de una forma bien simple y didáctica. ¡Vamos!

        .header-arrow.my-5
            h3.text-center Algoritmo “Papa-frita”

        .row
            p #[strong Inicio:]
        .row
            p Tomar las papas
        .row
            p Pelar las papas
        .row
            p Cortar las papas en tiras
        .row
            p Tomar el sartén y colocarla sobre la estufa
        .row
        .row
            p Colocar el sartén con aceite para calentar
        .row
            p Esperar hasta que el aceite esté caliente
        .row
            p Colocar las papas para freir
        .row
            p Aguardar 10 minutos hasta que las papas estén fritas
        .row
            p Retirar las papas y servir#[strong ]
        .row
            p #[strong Fin:]
