include mixins/functions

doctype
html(lang="es")
    head
        include includes/head.pug


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    include includes/page-home_topbar.pug

                    +pageHeader("Tema", "assets/images/header/header_media.svg", "")   

        section#IndiceTematico.curso-indice-tematico.section

            .container

                h2 Desarrollo de <br>contenidos
                .brand-line-primary

                .row.justify-content-center
                    .col-12.col-sm-10
                        .card.wow.flipInX(data-wow-delay=".4s")
                            
                            .card-body

                                ul.list-group.list-group-flush.list.my-n3.nav-temas
                                    +navTemaItem('play', 'Introducci贸n', '#introduccion')
                                    +navTemaItem('1', 'Historia de la rob贸tica ', '#tema-1')
                                    +navTemaItem('2', 'Componentes de un robot y tipos', '#tema-2')
                                    +navTemaItem('3', 'Disciplinas Asociadas a la Rob贸tica', '#tema-3')
                                    +navTemaItem('4', 'Automatizaci贸n en la Agroindustria', '#tema-4')
                                    +navTemaItem('glosary', 'Glosario', '#glosario')


        section#mainContent         
            #introduccion
                include pages/introduccion.pug
            #tema-1
                include pages/tema-1.pug
            #tema-2
                include pages/tema-2.pug
            #tema-3
                include pages/tema-3.pug
            #tema-4
                include pages/tema-4.pug
            #glosario
                include pages/glosario.pug


        +creditosFooter("assets/images/logos/senaLogo.svg")


        a.scroll-to-top-btn
            .fa.fa-angle-up.fa-2x

        script(src="assets/js/vendor.js")
        script(src="js/local.js")





